@model IEnumerable<LMS.Models.Comment>

@{
    ViewBag.Title = "View";
}
<h2>Feedback</h2>
<table class="table">
   
@foreach (var item in Model.GroupBy(c => c.Submission).OrderBy(s => s.Key.Comments.Max(c => c.Date)))
{
    <tr>
		<td>
			<p>@Html.DisplayFor(modelItem => item.Key.FileName)</p>
				
			@foreach (var subitem in item)
			{
				@subitem.Commenter.GetFullName()
				
				<p>@subitem.Text @subitem.Date</p>
			
			}
		</td>
		
    </tr>
}
</table>
