<h2>About LMS</h2>
<h3>Learning Management System</h3>

<address>
    StudentConsulting Project<br />
    Adressgatan 34 B<br />
    Phone: 070-341 60 61
</address>

<address>
    <strong>Scrum Master:</strong>   <a href="mailto:peter@kallgren">peter@kallgren.se</a><br />
    <strong>Developer:</strong>   <a href="mailto:joel.berglund94@gmail.com">joel.berglund94@gmail.com</a><br />
    <strong>Developer:</strong>   <a href="mailto:greateguy@gmail.com">greateguy@gmail.com</a><br />
</address>