<div class="row">
    <div class="col-md-4">
        <h3>Student Menu</h3>
        <div class="form-group">
            <a href="/Users/ShowMyClass" class="btn-lg btn">My Class</a>
        </div>
        <div class="form-group">
            <a href="/Submission/Add" class="btn-lg btn">Submit Assignment</a>
        </div>
        <div class="form-group">
            <a href="/Submission/Feedback" class="btn-lg btn">Feedback</a>
        </div>
        <div class="form-group">
            <a href="/Schedule/MySchedule" class="btn-lg btn">My Schedule</a>
        </div>
        <div class="form-group">
            <a href="/Files/Index" class="btn-lg btn">Shared Files</a>
        </div>
    </div>

    <div class="col-md-4">
        <h2>Welcome Student</h2>
        <p>
            As a student you can see you class members, your schedule and submit assignments.
            You can also get feedback on your submissions and manage your user profile.
        </p>
    </div>

</div>
