@model IEnumerable<LMS.Models.UserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Students</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div ng-app="FuckItApp" ng-controller="BasicShitController" ng-init="GetData('GetAll')">
	<div ng-controller="UserListController" ng-init="tag='Whatever'; GetShit()">
		@Html.Partial("UserListPartial")
	</div>
</div>