<div class="form-horizontal" ng-controller="UploadController" ng-init="initModel(KlassId)">
    <h4>File Upload</h4>
    <hr />
		
	<div class="form-group">
		<input type="file" id="file" name="file" />
		<button ng-click="GetUpload()">Add</button>
	</div>
</div>