@model IEnumerable<LMS.Models.SharedFile>


<h2>Klass @ViewBag.KlassName shared files</h2>

<table class="table">
    <tr>
        <th>
            Uploader
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentType)
        </th>
        <th />
    </tr>
</table>
